.about {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
  padding-top: 10.2rem;
}

.main-title {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--neutral-700);
}

.main-description {
  font-size: 2rem;
  color: var(--neutral-500);
}

@media screen and (width >= 640px) {
  .about {
    padding-inline: 8rem;
    text-align: center;
    text-wrap: balance;
  }
}

@media screen and (width >= 1024px) {
  .about {
    padding-inline: 16rem;
    max-width: 1024px;
    margin-inline: auto;
  }
}
