.book-collection-section {
  display: grid;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
}

.secondary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.secondary-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--neutral-700);
}

.add-button {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--neutral-700);
  background-color: var(--orange-500);
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.add-button:hover {
  box-shadow: none;
}

.empty-books-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.empty-books-message {
  font-weight: 500;
  color: var(--neutral-500);
}

.empty-books-link {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 600;
  color: var(--neutral-700);
  text-decoration: none;
}

.search-area {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.search-input-container {
  position: relative;
  flex: 1;
  border-radius: 0.8rem;
  border: 1px solid var(--neutral-500);
  color: var(--neutral-500);
}

.search-input-container:focus-within {
  border-color: var(--orange-700);
}

.search-input {
  padding: 0.8rem 1.6rem;
  padding-left: 4rem;
  width: 100%;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  color: inherit;
  font-size: 1.6rem;
  font-family: inherit;
  line-height: 1.5;
}

.search-input::placeholder {
  font-family: inherit;
  color: inherit;
}

.search-icon-container {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
}

.search-input:focus ~ .search-icon-container {
  color: var(--orange-700);
}

.filter-icon-container {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--orange-700);
  background-color: transparent;
  border: 1px solid var(--orange-700);
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.close-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: max-content;
  background-color: transparent;
  color: var(--neutral-700);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
}

.close-button:hover {
  color: var(--orange-700);
}

.container-categories {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}

.filter-form-legend {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--neutral-700);
}

.number-selected-categories {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--neutral-500);
}

.list-categories {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-weight: 400;
  color: var(--neutral-500);
}

.item-categories {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.input-checkbox {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;
  border: 1px solid var(--neutral-500);
}

.input-checkbox:checked {
  border: 1px solid var(--orange-700);
}

.check-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: grid;
  opacity: 0;
}

.input-checkbox:checked ~ .check-icon-container {
  opacity: 1;
  color: var(--orange-700);
}

.all-categories-button {
  font-size: 1.6rem;
  font-family: inherit;
  text-align: left;
  color: var(--neutral-700);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.all-categories-button:hover {
  color: var(--orange-700);
}

.container-access-type {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}

.form-filter-submit-button {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  color: var(--neutral-700);
  background-color: var(--orange-500);
  border: none;
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.categories-filter-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
