.book-collection-section {
  display: grid;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
}

.secondary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.secondary-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--neutral-700);
}

.add-button {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--neutral-700);
  background-color: var(--orange-500);
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.add-button:hover {
  box-shadow: none;
}

.results-container {
  display: contents;
}

.empty-books-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.empty-books-message {
  font-weight: 500;
  color: var(--neutral-500);
}

.empty-books-link {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 600;
  color: var(--neutral-700);
  text-decoration: none;
}

.empty-books-link:hover {
  color: var(--orange-700);
}

.search-area-container {
  display: contents;
}

.search-area {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.search-input-container {
  position: relative;
  flex: 1;
  border-radius: 0.8rem;
  border: 1px solid var(--neutral-500);
  color: var(--neutral-500);
}

.search-input-container:focus-within {
  border-color: var(--orange-700);
}

.search-input {
  padding: 0.8rem 1.6rem;
  padding-left: 4rem;
  width: 100%;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  color: inherit;
  font-size: 1.6rem;
  font-family: inherit;
  line-height: 1.5;
}

.search-input::placeholder {
  font-family: inherit;
  color: inherit;
}

.search-icon-container {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
}

.search-input:focus ~ .search-icon-container {
  color: var(--orange-700);
}

.filter-icon-container {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--orange-700);
  background-color: transparent;
  border: 2px solid var(--orange-700);
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.filter-form-desktop {
  display: none;
  flex-direction: column;
  gap: 2.4rem;
}

.close-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: max-content;
  background-color: transparent;
  color: var(--neutral-700);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
}

.close-button:hover {
  color: var(--orange-700);
}

.container-categories {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}

.filter-form-legend {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--neutral-700);
}

.number-selected-categories {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--neutral-500);
}

.list-categories {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-weight: 400;
  color: var(--neutral-500);
}

.item-categories {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.input-checkbox {
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;
  border: 1px solid var(--neutral-500);
}

.input-checkbox:checked {
  border: 1px solid var(--orange-700);
}

.check-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: grid;
  opacity: 0;
}

.input-checkbox:checked ~ .check-icon-container {
  opacity: 1;
  color: var(--orange-700);
}

.all-categories-button {
  font-size: 1.6rem;
  font-family: inherit;
  text-align: left;
  color: var(--neutral-700);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.all-categories-button:hover {
  color: var(--orange-700);
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
  font-weight: 400;
  color: var(--neutral-500);
}

.pagination-button {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  background-color: transparent;
  border: 1px solid var(--neutral-700);
}

.container-access-type {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}

.form-filter-submit-button {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  color: var(--neutral-700);
  background-color: var(--orange-500);
  border: none;
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.form-filter-submit-button:hover {
  box-shadow: none;
}

.categories-filter-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.results-message {
  font-weight: 500;
  color: var(--neutral-500);
}

.filter-reset-button {
  font-size: 1.6rem;
  font-family: inherit;
  text-align: left;
  color: var(--neutral-700);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.filter-reset-button:hover {
  color: var(--orange-700);
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.books-container-link {
  display: contents;
}

.books-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--orange-100);
  border: 1px solid transparent;
  box-shadow: 0 2px 8px rgba(180, 176, 172, 30%);
  cursor: pointer;
}

.books-item:hover {
  border-color: var(--orange-200);
}

.books-item-header,
.book-details-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.book-category {
  padding-inline: 0.4rem;
  width: max-content;
  border-radius: 0.4rem;
  font-weight: 500;
  color: var(--neutral-700);
  border: 1px solid var(--orange-300);
}

.book-title,
.book-details-title {
  flex: 1;
  font-size: 2rem;
  font-weight: 500;
  color: var(--neutral-700);
}

.book-info,
.book-details-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.book-author,
.book-details-author {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--neutral-500);
}

.book-access-type,
.book-details-access-type {
  display: flex;
  padding-inline: 0.6rem;
  border-radius: 1.6rem;
  border: 1px solid var(--orange-700);
  font-size: 1.2rem;
  color: var(--orange-700);
}

.book-ctas-container,
.book-details-ctas-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.book-main-cta,
.book-details-main-cta {
  flex: 1;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.8rem;
  color: var(--neutral-700);
  background-color: var(--orange-500);
  text-decoration: none;
  border: none;
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.book-main-cta:hover {
  box-shadow: none;
}

.more-icon-container,
.book-details-edit,
.book-details-delete,
.book-details-save {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  color: var(--orange-700);
  background-color: transparent;
  border: 2px solid var(--orange-700);
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.more-icon-container:hover {
  box-shadow: none;
}

.book-more-menu {
  position: absolute;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  list-style: none;
  visibility: hidden;
  background-color: var(--neutral-100);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 10%);
  overflow: hidden;
}

.book-more-menu-item {
  display: flex;
  padding: 1.2rem 1.6rem;
  width: 100%;
  text-decoration: none;
  color: var(--neutral-500);
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.book-more-menu-item:hover {
  background-color: var(--neutral-200);
}

.book-details-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 1.6rem;
  padding-top: 10.2rem;
}

.book-details-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.book-details-category {
  color: var(--neutral-500);
}

.book-details-author {
  font-size: 1.6rem;
}

.book-details-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.book-details-description {
  font-weight: 400;
  color: var(--neutral-500);
}

.book-details-user {
  font-weight: 400;
  color: var(--neutral-500);
}

.book-details-user-link {
  color: inherit;
}

.reset-password-form {
  visibility: hidden;
  position: fixed;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
  z-index: 6;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem;
  background-color: var(--neutral-100);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 25%);
}

.close-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: max-content;
  background-color: transparent;
  color: var(--neutral-700);
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
}

.close-button:hover {
  color: var(--orange-700);
}

.reset-password-legend-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.reset-password-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--neutral-700);
}

.reset-password-description {
  font-weight: 400;
  color: var(--neutral-700);
}

.field-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 400;
  color: var(--neutral-700);
}

.reset-password-buttons {
  display: flex;
  gap: 1.6rem;
}

.reset-password-button {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  color: var(--neutral-700);
  background-color: var(--orange-500);
  border: 2px solid transparent;
  box-shadow: 1px 1px 0 var(--neutral-500);
}

.reset-password-button:hover {
  box-shadow: none;
}

.reset-password-cancel-button {
  color: var(--orange-700);
  background-color: transparent;
  border-color: var(--orange-700);
}

@media screen and (width >= 640px) {
  .book-collection-section,
  .book-details-container,
  .add-book-page {
    padding-inline: 8rem;
  }
  .form-filter-submit-button {
    width: max-content;
  }
  .book-details-cover {
    width: 100%;
    height: auto;
  }
}

@media screen and (width >= 1024px) {
  .book-collection-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 3.2rem;
    padding-inline: 16rem;
    max-width: 1024px;
    margin-inline: auto;
  }
  .secondary-header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
  .search-area-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  .results-container {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .filter-form {
    display: none;
  }
  .filter-form-desktop {
    display: flex;
  }
  .form-filter-submit-button {
    align-self: flex-end;
  }
  .filter-icon-container,
  .close-button-main-filter {
    display: none;
  }
  .categories-filter-container-desktop {
    padding: 1.6rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: calc(50vw - 512px + 16rem);
    left: calc(50vw - 512px + 16rem);
    z-index: 12;
    background-color: var(--neutral-100);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 25%);
  }
  .list-categories {
    max-height: 159px;
    flex-wrap: wrap;
  }
}
